@media (max-width: 996px) {
  .grid-images {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "item-1 item-2"
      "item-3 item-4";
    grid-template-rows: 250px 250px;
  }
}

@media (max-width: 761px) {
  .grid-images {
    grid-template-columns: 1fr;

    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-4";
    grid-template-rows: repeat(4, 214px);
  }
}
