// colors
$white: #ffffff;
$whiteCards: #f5f5f5;
$darkCards: #26252c;
$black: #121212;
$lightGray: rgba(18, 18, 18, 0.6);
$lightGrayDark: rgba(255, 255, 255, 0.6);

// others

$headerHeight: 100px;

// adaptive

$maxWidth: 1440;
