@import "_nullstyle";
@import "_generals";
//----------------------------------- header

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  min-height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 28px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__item {
  transition: ease 0.7s;
  color: $lightGray;
  font-size: 18px;
  &:hover {
    color: $black;
  }
}

// -------------- intro

// .intro {
// }

.intro__container {
  padding: 40px 15px 60px 15px;
}

.intro__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 100px;
}

.intro__title {
  flex: 0 1 800px;
}

.intro__block-text {
  flex: 0 1 400px;
}

.intro__descrp {
  margin-bottom: 28px;
}

.intro__button {
  width: 174px;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 272px 199px;
  grid-template-areas:
    "item-1 item-1 item-4"
    "item-2 item-3 item-4";
  gap: 20px;
  margin-bottom: 50px;
}

[class*="grid-images__item"] {
  padding: 20px;
  background: $whiteCards;
  border-radius: 10px;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid-images__item-1 {
  grid-area: item-1;
}
.grid-images__item-2 {
  grid-area: item-2;
}
.grid-images__item-3 {
  grid-area: item-3;
}
.grid-images__item-4 {
  grid-area: item-4;
}

.social-proof {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}

.social-proof__artists {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-proof__block-images {
  display: flex;
}

[class*="social-proof__img"] {
  border: 7px solid $white;
  border-radius: 50%;
}

.social-proof__img-2 {
  margin-left: -50px;
}
.social-proof__img-3 {
  margin-left: -50px;
}

.social-proof__img-4 {
  margin-left: -50px;
}

.social-proof__stats {
  display: flex;
  align-items: center;
  gap: 20px;
}

// -------------------------- trending

.trending__card {
  overflow: hidden;
  max-height: 582px;
  padding: 20px;
}

.trending__container {
  padding: 100px 15px;
}

.trending__cards {
  display: flex;
  justify-content: space-between;
  // gap: 20px;
  // flex-wrap: wrap;
}

.trending__card {
  width: 100%;
  max-width: 400px;
  &:hover {
    .trending__card-block-img {
      min-height: 202px;
      max-height: 202px;
    }
    .trending__card-button {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.trending__card-block-img {
  border-radius: 10px;
  overflow: hidden;
  transition: ease 0.7s;
  min-height: 280px;
  max-height: 280px;
}

.trending__card-button {
  opacity: 0;
  padding: 15px 10px;
  font-size: 18px;
}

// ------------------- artists

.artists__container {
  padding: 100px 15px;
}

.artists__header {
  text-align: center;
  margin: 0 auto 54px auto;
  align-items: center;
}

.artists__cards {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, 576px);
}

.artists__card {
  padding: 20px;
  background: $whiteCards;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 10px;
}

.artists__card--big {
  grid-row: span 3;
}

.artists__card-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.artists__card-block-big-img {
  box-shadow: 0px 30px 60px -15px rgba(18, 18, 18, 0.3);
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 30%;
  flex: 0 1 75%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.artists__card-block-img {
  width: 116px;
  height: 116px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
.artists__card-block-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.artists__current-price {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.artists__floor-price {
  display: flex;
  gap: 7px;
  align-items: center;
  color: $lightGray;
  font-weight: 500;
}
.artists__floor-price-title {
  font-size: 16px;
}
.artists__floor-price-price {
  font-size: 16px;
}

// ------------- auction

.auction {
}

.auction__container {
  padding: 100px 15px;
}

.auction__header {
  text-align: center;
  align-items: center;
}
.auction__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.auction__block-content {
  display: flex;
  flex-direction: column;
}

.auction__content-title {
  margin-bottom: 40px;
}

.auction__wrapper {
  display: grid;
  grid-template-columns: 190px 190px;
  justify-content: space-between;
  grid-row-gap: 43px;
  max-width: 505px;
}

.auction__block-info {
  display: flex;
}

.auction__block-bid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auction__bid-title {
  font-size: 20px;
}

.auction__bid-price {
  font-size: 32px;
}

.auction__block-time-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auction__time-left-title {
  color: $lightGray;
  font-size: 20px;
}
.auction__time-left {
  font-weight: 700;
  font-size: 32px;
}

.auction__author-info {
  display: flex;
}

.auction__block-author {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auction__author-title {
  color: $lightGray;
}
.auction__author {
  color: $lightGray;
}

.auction__author-collection-block-img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.auction__block-collection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auction__collection-title {
  color: $lightGray;
}
.auction__collection {
  color: $lightGray;
}

.auction__author-collection--bg-gray {
  background-color: $whiteCards;
  border-radius: 5px;
  padding: 11px 20px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.auction__block-img {
  border-radius: 10px;
  background: url(images/auctionImg.png) no-repeat center;
  background-size: cover;
}

.auction__button {
  font-size: 18px;
  border-radius: 55px;
  padding: 23px 15px;
  grid-column: span 2;
}

//-------------------------------------------------- MEDIA

@import "_media";
