@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  width: auto;
  height: auto;
  font-size: inherit;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  font-weight: 400;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Mulish";
  line-height: 1.4;
  color: #121212;
}
@media (max-width: 767px) {
  body {
    font-size: calc(
      15px + 8.5 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  body {
    font-size: calc(15px + 5 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope";
}

h1 {
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(
      40px + 34 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(40px + 20 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 767px) {
  h2 {
    font-size: calc(
      30px + 34 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(30px + 20 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 50px;
  }
}

h3 {
  font-weight: 700;
}
@media (max-width: 767px) {
  h3 {
    font-size: calc(
      24px + 13.6 * ((100vw - 320px) / 1440)
    );
  }
}
@media (min-width: 767px) {
  h3 {
    font-size: calc(24px + 8 * (100vw / 1440));
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-weight: 700;
  font-size: 24px;
}

[class*=__container] {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.main {
  margin-top: 100px;
}

.section-header {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin-bottom: 52px;
}

.section-descrp {
  color: rgba(18, 18, 18, 0.6);
}

.button {
  transition: 0.7s ease;
  text-align: center;
  box-shadow: 0px 15px 30px -9px rgba(18, 18, 18, 0.36);
  border-radius: 29px;
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  background-color: #121212;
  padding: 10px 10px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stats__text {
  color: rgba(18, 18, 18, 0.6);
}

.card-nft {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f5f5f5;
  gap: 30px;
}

.card-nft__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card-nft__block-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-nft__title {
  margin-bottom: 15px;
}

.card-nft__block-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.card-nft__author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-nft__author-block-img {
  display: block;
  width: 48px;
  height: 48px;
}

.card-nft__author-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-nft__author-name:hover {
  text-decoration: underline;
}

.card-nft__info-button {
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
}
.card-nft__info-button:hover .card-nft__dot {
  background-color: #121212;
}

.card-nft__dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(18, 18, 18, 0.4);
}

.card-nft__block-time-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-nft__time-title {
  font-size: 16px;
  color: rgba(18, 18, 18, 0.6);
}

.card-nft__time {
  font-weight: 700;
  font-size: 24px;
}

.nft-block-price__title {
  color: rgba(18, 18, 18, 0.6);
  font-size: 16px;
}

.nft-block-price__price {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: 24px;
  font-weight: 700;
}
.nft-block-price__price::before {
  content: "";
  background: url(images/ETH.png);
  width: 23px;
  height: 23px;
}

.card-nft__progressbar {
  position: relative;
  transition: ease-in-out 1s;
  width: 100%;
  background: #e5e5e5;
  border-radius: 50px;
  height: 11px;
  margin-bottom: 4px;
}

.card-nft__progress-line {
  transition: ease-in-out 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  border-radius: 50px;
  background: linear-gradient(90.15deg, #121212 0%, rgba(79, 79, 79, 0.45) 141.67%);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 28px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__item {
  transition: ease 0.7s;
  color: rgba(18, 18, 18, 0.6);
  font-size: 18px;
}
.nav__item:hover {
  color: #121212;
}

.intro__container {
  padding: 40px 15px 60px 15px;
}

.intro__header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 100px;
}

.intro__title {
  flex: 0 1 800px;
}

.intro__block-text {
  flex: 0 1 400px;
}

.intro__descrp {
  margin-bottom: 28px;
}

.intro__button {
  width: 174px;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 272px 199px;
  grid-template-areas: "item-1 item-1 item-4" "item-2 item-3 item-4";
  gap: 20px;
  margin-bottom: 50px;
}

[class*=grid-images__item] {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}
[class*=grid-images__item] img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-images__item-1 {
  grid-area: item-1;
}

.grid-images__item-2 {
  grid-area: item-2;
}

.grid-images__item-3 {
  grid-area: item-3;
}

.grid-images__item-4 {
  grid-area: item-4;
}

.social-proof {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
}

.social-proof__artists {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-proof__block-images {
  display: flex;
}

[class*=social-proof__img] {
  border: 7px solid #ffffff;
  border-radius: 50%;
}

.social-proof__img-2 {
  margin-left: -50px;
}

.social-proof__img-3 {
  margin-left: -50px;
}

.social-proof__img-4 {
  margin-left: -50px;
}

.social-proof__stats {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trending__card {
  overflow: hidden;
  max-height: 582px;
  padding: 20px;
}

.trending__container {
  padding: 100px 15px;
}

.trending__cards {
  display: flex;
  justify-content: space-between;
}

.trending__card {
  width: 100%;
  max-width: 400px;
}
.trending__card:hover .trending__card-block-img {
  min-height: 202px;
  max-height: 202px;
}
.trending__card:hover .trending__card-button {
  transform: scale(1);
  opacity: 1;
}

.trending__card-block-img {
  transition: ease 0.7s;
  min-height: 280px;
  max-height: 280px;
}

.trending__card-button {
  opacity: 0;
  padding: 15px 10px;
  font-size: 18px;
}

.artists__container {
  padding: 100px 15px;
}

.artists__header {
  text-align: center;
  margin: 0 auto 54px auto;
  align-items: center;
}

.artists__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.artists__card {
  max-width: 576px;
  padding: 20px;
  background: #f5f5f5;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.artists__card-block-img {
  width: 116px;
  height: 116px;
}
.artists__card-block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.artists__card-block-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.artists__current-price {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.artists__floor-price {
  display: flex;
  gap: 7px;
  align-items: center;
  color: rgba(18, 18, 18, 0.6);
  font-weight: 500;
}

.artists__floor-price-title {
  font-size: 16px;
}

.artists__floor-price-price {
  font-size: 16px;
}

@media (max-width: 996px) {
  .grid-images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item-1 item-2" "item-3 item-4";
    grid-template-rows: 250px 250px;
  }
}
@media (max-width: 761px) {
  .grid-images {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4";
    grid-template-rows: repeat(4, 214px);
  }
}/*# sourceMappingURL=styles.css.map */